<header>
  <div><a href="/">HandiCraft</a></div>
  <nav>
    <ul>
      <% if(locals.isAuth){ %>

      <li>
        <form action="/logout" method="POST">
          <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
        </form>
        <button>Logout</button>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
